<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/applicant_submit">
        <label for="aid">Please enter the aid you saved when registering your account</label> 
        <input type= "number" name="aid" id="aid"></input> <br />

        <label for="industry">Industry</label>
        <input type= "text" name="industry" id="industry"></input> <br />
  
  
        <label for="job_type">Job Type you are looking for </label> 
        <select name="job_type" id="job_type">
            <option value="Full-Time">Full-Time</option>
            <option value="Part-Time">Part-Time</option>
            <option value="Intern">Intern</option>
          </select>

          <label for="compensation_type">Compensation Type </label> 
          <select name="compensation_type" id="compensation_type">
              <option value="Hourly">Hourly</option>
              <option value="Weekly">Weekly</option>
              <option value="Bi-weekly">Bi-weekly</option>
              <option value="Monthly">Monthly</option>
            </select>
          
            <label for="desired_rate">Desired Rate</label>
            <input type= "number" name="desired_rate" id="desired_rate"></input> <br />
  
  
        <label for="day">Current Date: </label>
        <input type= "date" name="posted_day" id="day"></input> <br />
  
  
        <input type="submit" value="Submit"  /><br />
      </form>
    
</body>
</html>