<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Company Employee Pair</h1>
    <p><a href="/">Back to Home Page</a></p>
    <p><a href="/company_logoff">Log off</a></p>

    <div>
        Choose the desired applicant from below and fill in the information:
        
        <form method="POST" action="/company_search_add">
            <label for="cid">cid</label>
            <input type="number" name="cid" id="cid" /><br />

            <label for="aid">aid</label>
            <input type="number" name="aid" id="aid" /><br />
      
            <label for="appid">First Name</label>
            <input type="number" name="appid" id="first_name" /><br />
      
            <label for="interested">Interested?</label>
            <select id="interested" name="interested">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
              <br/>
            <input type="submit" value="Submit" />
          </form>
    </div>

    <div>
      Here are the people who submitted to our system.
        <table>
            <thead>
                <tr>
                    <th>aid</th>
                    <th>appid</th>
                    <th>Date of Birth</th>
                    <th>College</th>
                    <th>gpa</th>
                    <th>compensation_type</th>
                    <th>desired_rate</th>
                    <th>submission_date</th>
                    <th>essay</th>
                    <th>recommendatee_relationship</th>     
                </tr>
            </thead>
            <tbody>
                {% for n in data1 %}
                    <tr>
                        <td>{{n[0]}}</td>
                        <td>{{n[1]}}</td>
                        <td>{{n[2]}}</td>
                        <td>{{n[3]}}</td>
                        <td>{{n[4]}}</td>
                        <td>{{n[5]}}</td>
                        <td>{{n[6]}}</td>
                        <td>{{n[7]}}</td>
                        <td>{{n[8]}}</td>
                        <td>{{n[9]}}</td>
                    </tr>
                {% endfor %}
                
                


            </tbody>
            
        </table>
 
    </div>
    
</body>
</html>