<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Welcome to Our Job Application Site!</h1>

    <p><a href="/applicant_submit">Back to Application Submission Page</a></p>

    <form method="POST" action="/education_add">
      <label for="name">Educational Institution Name</label>
      <input type="text" name="name" id="name" /><br />

      <label for="name">Educational Institution City</label>
      <input type="text" name="city" id="city" /><br />

      <label for="name">Educational Institution State</label>
      <input type="text" name="state" id="state" /><br />

      <input type="submit" name="register" value="Register" />
    </form>
  </body>
</html>
