<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Welcome to Our Job Application Site!</h1>
    <p>Are you an employer? Use the buttons below.</p>
    <a href="/company_register"><button>Company Registration</button></a>
    <a href="/company_industry"><button>Find Prospective Employee</button></a>

    <br />
    <p>Are you a job applicant? Use the buttons below.</p>
    <a href="/applicant_register"><button>Applicant Registration</button></a>
    <a href="/applicant_submit"><button>Submit An Application</button></a>
    <a href="/job_submission"><button>Fill out Job History</button></a>

    <br />
    <p>Are you a recommender for a job applicant? Use the buttons below.</p>
    <a href="/recommender_register"
      ><button>Recommender Registration</button></a
    >
    <a href="/recommender_search"><button>Submit A Recommendation</button></a>

  </body>
</html>
