<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Welcome to Our Job Application Site!</h1>
    <p>Are you an employer? Use the buttons below.</p>
    <a href="/company_register"><button>Company Login</button></a>
    <a href="/company_industry"><button>Company Pair Page</button></a>

    <br />
    <p>Are you a job applicant? Use the buttons below.</p>
    <a href="/applicant_register"><button>Applicant Login</button></a>
    <a href="/applicant_submit"><button>Applicant Submit Page</button></a>

    <br />
    <p>Are you a recommender for a job applicant? Use the buttons below.</p>
    <a href="/recommender_register"><button>Recommender Login</button></a>
    <a href="/recommender_search"><button>Recommending Page</button></a>
  </body>
</html>
