<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Welcome to Our Job Application Site!</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

    <p><a href="/">Back to Home Page</a></p>

    <form method="POST" action="/recommender_add"> 
      <label for="name">Last Name</label>
      <input type="text" name="last_name"><br>

      <label for="name">First Name</label>
      <input type="text" name="first_name"><br>

      <label for="name">Date of Birth</label>
      <input type="date" name="last_name"><br>


      <label for="occupation">职业</label>
      <input type="text" name="occupation" id="occupation"><br> 
      <input type="submit" name="submit" value="登录"> 
      </form>
  </body>
</html>
