<html>
  <style>
    body {
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
    <h1>Recommend Page</h1>
    <p><a href="/">Back to Home Page</a></p>

    <div>
      Please search for the application you are recommending:
        <datalist id="suggestions">
            {% for n in data %}
                <option>{{n}}</option>
            {% endfor %}
        </datalist>
        <input  autoComplete="on" list="suggestions"/> 
    </div>

    <form method="POST" action="/recommender_search_add">
      <label for="aid">The recommendee's id you got from above: </label> 
      <input type= "number" name="aid" id="aid"></input> <br />

      <label for="relationship">Your relationship with the recommendee: </label>
      <input type= "text" name="recommendatee_relationship" id="relationship"></input> <br />

      <label for="day">Date of Submission: </label>
      <input type= "date" name="posted_day" id="day"></input> <br />


      <label for="essay">Please copy and paste your recommend text below. </label> <br/>
      <textarea name="essay" id="essay" rows="20" cols="100"></textarea> <br />
      <input type="submit" value="Submit"  /><br />
    </form>
  </body>
</html>
